body {
  font-family: "Roboto Mono", "Courier New", monospace;
  color: #f5f5f5;
  background-color: #1a1b26;
}

.navbar-brand {
  font-size: 1.8rem;
  color: #8be9fd;
}

.hero {
  padding: 5rem 0;
  background-color: #282a36;
  background-image: url("rm373batch2-09.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero img {
  border: 8px solid #8be9fd;
  border-radius: 50%;
  transition: transform .2s ease-in-out;
}

.hero img:hover {
  transform: scale(1.1);
}

#about, #projects, #contact {
  padding: 2rem 0;
}

.footer {
  padding: 1rem 0;
  background-color: #282a36;
}

.bg-primary {
  background-color: #1e1f26 !important;
}

.bg-dark {
  background-color: #282a36 !important;
}

.text-primary {
  color: #8be9fd !important;
}

.text-white {
  color: #f8f8f2 !important;
}

.text-muted {
  color: #6272a4 !important;
}

.container h2 {
  border-bottom: 2px solid #8be9fd;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #f8f8f2;
}


ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px 0;
  line-height: 1.6;
}

#contact ul li a {
  color: #8be9fd;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

#contact ul li a:hover {
  color: #50fa7b;
}

.section {
  padding: 5rem 0;
}

.section.bg-light {
  background-color: #282a36 !important;
  color: #f8f8f2;
}

.section h2 {
  margin-bottom: 1rem;
  color: #8be9fd;
}

.section p, .section li {
  color: #f8f8f2;
}

.section.bg-light h2 {
  color: #f8f8f2;
}

.section.bg-light p, .section.bg-light li {
  color: #8be9fd;
}

.hidden {
  opacity: 0;
  margin-left: -30px;
}

/* Animation and transition for the fadeIn effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the fadeIn animation to all elements with the 'fade-in' class */
.fade-in {
  animation: fadeIn 1.5s ease-out;
}
