:root {
  --bs-dark: #212529;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Courier New", monospace;
  background: #1e1e1e;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Mono", "Courier New", monospace;
  background-color: black;
  color: #fcfdff;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1e1e1e !important;
}
.navbar a {
  color: #00fcfd !important;
}
.navbar a:hover {
  color: #e08b14 !important;
}

header.hero {
  padding: 5em 0;
  background: url("Neon Green and Black Tech Virtual Background.gif");
  background-size: cover;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header.hero .container {
  position: relative;
  z-index: 2;
}
header.hero .container .img-fluid {
  border: 5px solid #00fcfd;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header.hero .container .img-fluid:hover {
  transform: scale(1.03);
}
header.hero .container h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 1em 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header.hero .container h1:hover {
  transform: scale(1.03);
}
header.hero .container p {
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

section {
  padding: 2em 0;
}
section h2 {
  color: #00fcfd;
  border-bottom: 2px solid #1e1e1e;
  display: inline-block;
}
section h5 {
  color: #00fcfd;
}
section a {
  color: #5aa7ff;
}
section a:hover {
  color: #e08b14;
}

.hidden {
  opacity: 0;
  margin-left: -100px;
}

section:hover {
  transition: transform 0.3s;
  transform: scale(1.02);
}

.project {
  border: 1px solid #1e1e1e;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
.project:hover {
  box-shadow: 0 0 10px #00fcfd;
}

.col-md-3 {
  border: 1px solid #1e1e1e;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
.col-md-3:hover {
  box-shadow: 0 0 10px #00fcfd;
}

.job {
  border: 1px solid #1e1e1e;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
.job:hover {
  box-shadow: 0 0 10px #00fcfd;
}

body.light .project {
  border: 1px solid #1e1e1e;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
body.light .project:hover {
  box-shadow: 0 0 10px #0033ff;
}

body.light .col-md-3 {
  border: 1px solid #1e1e1e;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
body.light .col-md-3:hover {
  box-shadow: 0 0 10px #0033ff;
}

body.light .job {
  border: 1px solid #1e1e1e;
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
body.light .job:hover {
  box-shadow: 0 0 10px #0033ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    margin-left: -100px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
.slide-in {
  animation: slideIn 1s ease-in-out;
}

body.light {
  background-color: #e6f4f3;
  color: #001b4d;
}

body.light .navbar {
  background-color: #8cbce1 !important;
}
body.light .navbar a {
  color: black !important;
}
body.light .navbar a:hover {
  color: #7c0303 !important;
}

body.light header.hero {
  background: url("Untitled.gif");
  background-size: cover;
  color: #e6f4f3;
  text-align: center;
}
body.light header.hero .container .img-fluid {
  border: 5px solid #000000;
}
body.light header.hero .container h1 {
  color: #e6f4f3;
}
body.light header.hero .container p {
  color: #e6f4f3;
}

body.light section h2 {
  color: black;
}
body.light section h5 {
  color: black;
}
body.light section a {
  color: #013dff;
}
body.light section a:hover {
  color: #7c0303;
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.theme-container:hover {
  opacity: 0.8;
}

@keyframes change {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}

#theme-icon {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=styles.css.map */
